{% extends "base.html" %}

<hr class="soften">
{% block content %}
<!-- Masthead
================================================== -->
<header class="jumbotron">
  <div class="inner">
    <h1>Mentor Match!</h1>
    <h3>Finding mentors the State Farm way</h3>
  </div>
</header>

<hr class="soften">

<div class = "row-fluid">

<div class="span4">
<h2> Simple </h2>
<p> Sign up is quick and easy. Finding a mentor is only one button away! We do all the work for you!</P>
</div>

<div class="span4">
<h2> Smart </h2>
<p> Our system makes use of and improves upon state-of-the-art BM25 search ranking formulas to make sure we bring you only the best matched mentors.</p>
</div>

<div class="span4">
<h2> Classy </h2>
<p> Above all, our interface is clean and responsive. We promise to not cause you any headaches with clunkily designed buttons or forms.</p>
</div>


{% endblock %}


